.show-img {
	float: left;
}
.show-img-size {
	width: 300px;
}

.show-name {
 font-size: 40px;
 margin: 0 0 10px;
}

.show-stars {
	font-size: 30px;
	img {
		width: 20px;
	}
}

.show-description {
 margin-bottom: 10px;
}

.show-facilites {
	
}

.show-location {
	
}

.show-url {
	width: 200px;
	
	margin: 0 auto;
}
.show-url a {
	display: block;
	height: 50px;
	width: 200px;
	color: black;
	font: 17px/50px Helvetica, Verdana, sans-serif;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	background: #eee;
	border-radius: 45px;
	border: 3px solid #8d8d8d;
}
.view {
	float: right;
	margin-right: 250px;
}
.book {

	margin-left: 500px;
}

.show-button {
	height: 50px;
	margin-top: 50px;
}

.show-back-button {
	max-height: 10%;
	max-width: 10%;
	float: left;
	margin-left: 10px;
}

.show-edit {
	
}

