<html>

	<body>

	</body>
	</html><body class="about-background">

		<h1 class="about">About</h1>


		<div class="about-content">
			<p><strong>Welcome to the Jersey, where British and French influences meet and where an unexpected<br>
			   mix of stunning scenery, rich heritage and varied lifestyles are waiting to be discovered.<br>
			   This site is your gateway to Jersey.  Start planning an unforgettable escape today with some<br> amazing hotels, right at your fingertips.</p>
		<br>
			<p>Here at Jersey Hotels we aim to provide you with the most up to date information about all of<br>
			our hotels.</strong></p>
		</div>
	</body>
</html>