  <p id="notice"><%= notice %></p>

  <h1 class="listing">Listing Hotels</h1>

  <table class="hotels-table">


  <tbody>
    <% @hotels.each do |hotel| %>

      
      <tr>
         <td>
          <div>
          <img src= <%= hotel.img_url %> class="show-img-size">
          </div>
         </td> 

          <td>
            <div class="hotel-name">
              <%= link_to hotel.name, hotel_path(hotel), class: "hotel-name"  %>

            </div>
        </td>
       
        <td> 
          <span class="show-stars">
             <%= score_into_stars(hotel.stars) %>
          </span> 
        </td>
        
      
      </tr>
       
    <% end %>
  </tbody>
  </table>




