<!DOCTYPE html>
<html>
<head>
  <title>JerseyHotels</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="group">
	<h1> Jersey Hotels</h1>
	<nav>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Log in</a></li>
		</ul>
	</nav>
</header>

<main class="content">

	<%= yield %>

</main>

<footer>
	<p> Copyright 2015 GoTeam | All rights reserved.</p>
</footer>

</body>
</html>
