<!DOCTYPE html>
<html>
<head>
  <title>JerseyHotels</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<h1> Jersey Hotels</h1>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Log in</a></li>
	</ul>
</header>
<div>
	<%= yield %>

</div>

<footer>
	<p> @GoTeam2015</p>
</footer>

</body>
</html>
